@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

h1 {
    font-size: 42px;
    font-weight: 400px;
    align-content: center;
}


h2 {
    font: 48px;
}

li {
    list-style: none;
}

/*Navigation Bar*/

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.personal_nametag {
    font-size: 28px;
    font-weight: 700px;
    color: green;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    margin: 0 12px;
    color: black;
    font-weight: 700;

}

.nav__link--anchor-primary {
    border-radius: 50px;
    background-color: green;
    padding: 10px 16px;
    color: beige;
}

.nav__link--anchor-primary:hover {
    background-color: lime;
}

/* About_me */
.Introduction__info--wrap {
    display: flex;
    height: calc(100vh - 70px);
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

}
.text--color{
    color: green;
}
.Introduction__img--wrap{
    max-width: 400px;
    width: 50%;
}
.Introduction__para--wrap{
    width: 50%;
    
}
.Introduction__img--pic{
    width: 100%;
}
.Introduction__links{
    padding: 12px 12px;
}
.Introduction__links--tag{
    padding: 0 8px;
    text-decoration: none;
    font-size: 16px;
    color: green;
}
.language__container{
    height: 50vh;
    width: 1000px;
    
}