@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 48px;
    text-align: center;
    line-height: 1.25;

}

p {
    font-size: 24px;
    line-height: 1.5;
}

.container {
    padding: 50px 0;
}

.section__title {
    margin-bottom: 20px;

}

.row {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

li {
    list-style: none;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.text--color {
    color: green;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

/*Navigation Bar*/

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.personal_nametag {
    font-size: 28px;
    font-weight: 700px;
    color: green;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    margin: 0 12px;
    color: black;
    font-weight: 700;

}

.nav__link--anchor-primary {
    border-radius: 50px;
    background-color: green;
    padding: 10px 16px;
    color: beige;
}

.nav__link--anchor-primary:hover {
    background-color: lime;
}

/* about-me*/
#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.about-me__info--container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;

}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 16);
    margin-bottom: 28px;

}

.about-me__picture {
    width: 100%;
    height: 100px;
    /* improve my pic*/
    transform: scale(1, 5);
    padding-top: 10px;
}

.about-me__info--para {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-me__info--title {
    margin-bottom: 18px;
}

.about-me__link {
    color: green;
    padding: 0px 10px;
    font-size: 20px;
    text-decoration: none;

}

.about-me__links {
    margin-top: 10px;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;

}

.about-me__img {
    width: 100%;
    padding: 30px;
}

/* Language */
.Language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.Language__img--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 10px;

}

.Language__list {
    display: flex;
    flex-wrap: wrap;
}

.Language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.Language:hover .Language__img {
    filter: brightness(80%);
    transform: scale(90%);
    opacity: 0.9;
    cursor: pointer;
}

.Language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;

}

.Language:hover .Language__name {
    transform: scale(1);
}

.project__img {
    width: 100%;
    transition: all 400ms ease;
}

.project__wrap {
    box-shadow: 0 20px 60px rgba(0, 0, 0, 40);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
}

.project__wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: all 400ms ease;
    z-index: 2;
}

.project:hover .project__wrap:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(10px);

}

.project__list {
    padding: 40px;
}

.project__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 500px;
    z-index: 3;
    left: 90px;

}
.project__text--title,
.project__text--subtitle,
.project__text--para,
.project__text--link{
    text-align: left;
    color: #fff;

}
.project__text--title{
    font-size: 40px;

}
.project__text--para∆°{
    margin: 16px 0;
}
.project__text--link{
    text-decoration: none;
    font-size: 20px;

}