@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p {
    font-size: 24px;
    line-height: 1.5;
}


li {
    list-style: none;
}

/*Navigation Bar*/

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.personal_nametag {
    font-size: 28px;
    font-weight: 700px;
    color: green;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    text-decoration: none;
    margin: 0 12px;
    color: black;
    font-weight: 700;

}

.nav__link--anchor-primary {
    border-radius: 50px;
    background-color: green;
    padding: 10px 16px;
    color: beige;
}

.nav__link--anchor-primary:hover {
    background-color: lime;
}
